<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        {% if style%}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/'+ style) }}"/>
        {% endif %}
    </head>
    <body>
        <header>
            <h1>Flask</h1>
        </header>
        <main>
           {% block content%}
           
           {%endblock%}
        </main>
        <footer>
            <p>All Rights Reserved @copy; 2026</p>
        </footer>
        <script src="{{ url_for('static', filename='js/main.js')}}">

        </script>
    </body>
</html>